<div class="app">
  <app-navbar></app-navbar>

  <div class="app-carousel">
    <carousel [isAnimated]="true" [interval]="slideInterval" [(activeSlide)]="activeSlideIndex" >
      <slide *ngFor="let slide of slides; let index=index">
        <img [src]="slide.image" alt="image slide" class="img-fluid w-100">
        <div class="carousel-caption">
          <h4>{{ slide.text }}</h4>
        </div>
      </slide>
    </carousel>
  </div>

  <main class="p-5 d-flex flex-column gap-3">
    <h1 class="text-center fw-medium  text-primary">{{ pageCurrentTitle }}</h1>
    <router-outlet></router-outlet>
  </main>

  <footer class="text-center py-3 text-white">
      <span>Feito por Gabriel Cardoso</span>
  </footer>
</div>

