.animal-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 2rem;

  .animal-image {
    position: relative;

    &:hover {

      .animal-wrapper {
        display: block;
      }
    }
  }

  .animal-wrapper {
    display: none;
    position: absolute;
    background-color: #33333385;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }


  @media (max-width: 800px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 500px) {
    & {
      grid-template-columns: 1fr;
    }
  }
}
