
/* Importing Bootstrap SCSS file. */
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

/* Importing Datepicker SCSS file. */
@import '/node_modules/ngx-bootstrap/datepicker/bs-datepicker';

@import '/node_modules//@fortawesome/fontawesome-free/css/all.min.css';

@import '/node_modules/bootswatch/dist/cosmo/bootstrap.min.css';

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

:root {
  --primary-color: #FFB312;
  --secondary-color: #13227F;
}

